<% if session[:role] == 'admin' %>
		<div class="panel">
			<div class="panel-t"><a href="/schools">学校列表</a> &gt;&gt; <%= @school.name %></div>
			<div class="panel-con">
				<p class="link_btn"><a href="/schools">返回</a><%= link_to '添加班级', new_school_k_path, :class => "block" %></p>
				<% @ks.each do |grade, _ks| %>
				<% case grade %>
				<% when "1" %>
				<h5>一年级</h5>
				<% when "2" %>
				<h5>二年级</h5>
				<% when "3" %>
				<h5>三年级</h5>
				<% when "4" %>
				<h5>四年级</h5>
				<% when "5" %>
				<h5>五年级</h5>
				<% when "6" %>
				<h5>六年级</h5>
				<% end %>
				<ul class="block-list clearfix">
					<% _ks.each do |k| %>
					<li>
						<%= link_to k.name, school_k_members_path(@school, k), :class => "block" %>
						<p>
							<%= link_to '修改', edit_school_k_path(@school, k) %>
							<%= link_to '删除', [@school, k], method: :delete, data: { confirm: '确定删除吗？' } %>
						</p>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
<% end %>
<% if session[:role] == 'master' %>
		<div class="panel">
			<div class="panel-t"><%= @school.name %></div>
			<div class="panel-con">
				<% @ks.each do |grade, _ks| %>
				<% case grade %>
				<% when "1" %>
				<h5>一年级</h5>
				<% when "2" %>
				<h5>二年级</h5>
				<% when "3" %>
				<h5>三年级</h5>
				<% when "4" %>
				<h5>四年级</h5>
				<% when "5" %>
				<h5>五年级</h5>
				<% when "6" %>
				<h5>六年级</h5>
				<% end %>
				<ul class="block-list clearfix">
					<% _ks.each do |k| %>
					<li>
						<%= link_to k.name, school_k_members_path(@school, k), :class => "block" %>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
		<div class="panel-m10">
			<div class="panel-t">学校近视率</div>
			<div class="panel-con" style="padding:30px 30px 10px 30px;background:#FFF;">
				<%= javascript_include_tag "highcharts" %>
				<div id="chart-con" style="margin:0 auto;width:100%;height:300px;"></div>
				<script type="text/javascript">
				<%
					arr = []
					0.upto @school_data["js"].length - 1 do |i|
						arr << '第' + (i + 1).to_s + '次'
					end
				%>
				var s_categories = [<%= arr.map{|t| "'" + t + "'"}.join(',').html_safe %>];
				if(s_categories.length){
					$(function () {
				        $('#chart-con').highcharts({
				            chart: {
				                type: 'line'
				            },
				            title : {
				            	text : ''
				            },
				            xAxis: {
				                categories: s_categories
				            },
				            yAxis: {
				                min: 0,
				                title: {
				                    text: ''
				                }
				            },
				            tooltip: {
				                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
				                footerFormat: '</table>',
				                shared: true,
				                useHTML: true
				            },
				            series: [{
				            	name : '近视率',
				            	data : [<%= @school_data["js"].join(',').html_safe %>]
				            }, {
				            	name : '弱视率',
				            	data : [<%= @school_data["rs"].join(',').html_safe %>]
				            }]
				        });
				    });
			   	}
				</script>
			</div>
		</div>
		<div class="panel-m10">
			<div class="panel-t">年级近视率</div>
			<div class="panel-con" style="padding:30px 30px 10px 30px;background:#FFF;">
				<%= javascript_include_tag "highcharts" %>
				<div id="chart-con2" style="margin:0 auto;width:100%;height:300px;"></div>
				<script type="text/javascript">
				<%
					arr = []
					0.upto @school_data["js"].length - 1 do |i|
						arr << '第' + (i + 1).to_s + '次'
					end
				%>
				var categories = [<%= arr.map{|t| "'" + t + "'"}.join(',').html_safe %>];
				if(categories.length){
					$(function () {
				        $('#chart-con2').highcharts({
				            chart: {
				                type: 'line'
				            },
				            title : {
				            	text : ''
				            },
				            xAxis: {
				                categories: categories
				            },
				            yAxis: {
				                min: 0,
				                title: {
				                    text: ''
				                }
				            },
				            tooltip: {
				                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
				                footerFormat: '</table>',
				                shared: true,
				                useHTML: true
				            },
				            series: [<%= @chart_data.map{|t|"{name:'" + t["name"] + "',data:[" + t["js"].join(",") + "]}"}.join(",").html_safe %>]
				        });
				    });
			   	}
				</script>
			</div>
		</div>
		<div class="panel-m10">
			<div class="panel-t">年级弱视率</div>
			<div class="panel-con" style="padding:30px 30px 10px 30px;background:#FFF;">
				<%= javascript_include_tag "highcharts" %>
				<div id="chart-con3" style="margin:0 auto;width:100%;height:300px;"></div>
				<script type="text/javascript">
				<%
					arr = []
					0.upto @school_data["rs"].length - 1 do |i|
						arr << '第' + (i + 1).to_s + '次'
					end
				%>
				categories = [<%= arr.map{|t| "'" + t + "'"}.join(',').html_safe %>];
				if(categories.length){
					$(function () {
				        $('#chart-con3').highcharts({
				            chart: {
				                type: 'line'
				            },
				            title : {
				            	text : ''
				            },
				            xAxis: {
				                categories: categories
				            },
				            yAxis: {
				                min: 0,
				                title: {
				                    text: ''
				                }
				            },
				            tooltip: {
				                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
				                footerFormat: '</table>',
				                shared: true,
				                useHTML: true
				            },
				            series: [<%= @chart_data.map{|t|"{name:'" + t["name"] + "',data:[" + t["rs"].join(",") + "]}"}.join(",").html_safe %>]
				        });
				    });
			   	}
				</script>
			</div>
		</div>
<% end %>
