<% if session[:role] == 'admin' %>
		<div class="panel">
			<div class="panel-t"><a href="/schools">学校列表</a> &gt;&gt; <%= @school.name %></div>
			<div class="panel-con">
				<p class="link_btn"><a href="/schools">返回</a><%= link_to '添加班级', new_school_k_path, :class => "block" %></p>
				<% @ks.each do |grade, _ks| %>
				<% case grade %>
				<% when "1" %>
				<h5>一年级</h5>
				<% when "2" %>
				<h5>二年级</h5>
				<% when "3" %>
				<h5>三年级</h5>
				<% when "4" %>
				<h5>四年级</h5>
				<% when "5" %>
				<h5>五年级</h5>
				<% when "6" %>
				<h5>六年级</h5>
				<% end %>
				<ul class="block-list clearfix">
					<% _ks.each do |k| %>
					<li>
						<%= link_to k.name, school_k_members_path(@school, k), :class => "block" %>
						<p>
							<%= link_to '修改', edit_school_k_path(@school, k) %>
							<%= link_to '删除', [@school, k], method: :delete, data: { confirm: '确定删除吗？' } %>
						</p>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
<% else %>
		<div class="panel">
			<div class="panel-t">近视率查询</div>
			<div class="panel-con">
				<% @ks.each do |grade, _ks| %>
				<% case grade %>
				<% when "1" %>
				<h5>一年级</h5>
				<% when "2" %>
				<h5>二年级</h5>
				<% when "3" %>
				<h5>三年级</h5>
				<% when "4" %>
				<h5>四年级</h5>
				<% when "5" %>
				<h5>五年级</h5>
				<% when "6" %>
				<h5>六年级</h5>
				<% end %>
				<ul class="block-list clearfix">
					<% _ks.each do |k| %>
					<li>
						<%= link_to k.name, school_k_members_path(@school, k), :class => "block" %>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
<% end %>
